<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    <script>
        function click_login_function(){
                alert("you click login button");
            event.preventDefault();
        }

        function click_register_function(){
            alert("you click register button");
            event.preventDefault();
        }
    </script>
</head>
<body>

<form method="get" action="/main_page" onsubmit="click_login_function(this)">
    <fieldset>
        <legend>User login</legend>
        <label>Email:</label> <input type="email" name="user" id="user" required>
        <label>Password:</label><input type="password" name="password" id="password" required>
        <input var = "login" id = "login" type="submit" value="login"/>
        <!--<input id = "register" type="button" value="register" onclick="window.location.href='/register'">-->
        <input var = "register" id = "register" type="button" value="register" onclick="click_register_function(this)">
    </fieldset>
</form>


<br/>
<p id="test"></p>
</body>
</html>